.in-transition { 
  -webkit-transition: -webkit-transform 900ms ease; 
  transition: -webkit-transform 900ms ease; 
  transition: transform 900ms ease; 
  transition: transform 900ms ease, -webkit-transform 900ms ease;
}