main {
  background: url('../img/jumbotron.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width:768px) {
  main {
    background: url('../img/mobile-jumbotron.jpg') center center no-repeat;
    background-size: auto 80%;
  }
}

#interior {
  background: url(../img/interior/livingroom.png) center center no-repeat;
  background-size: cover;
}

#furniture {
  background: url(../img/furniture.jpg) center center no-repeat;
  background-size: cover;
}

#accessories {
  background: url(../img/accessories.jpg) center center no-repeat;
  background-size: cover;
}