body, html {
  max-width: 1920px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  font-size: 15px;
}

h1, h2, h3, p {
  margin: 0;
}

h2, h3 {
  font-family: 'Lato', sans-serif;
  padding: 10vmin 0;

}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: line-through;
}

p {
  font-family: 'Lato', sans-serif;
}

.flexBox {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

header {
  padding: 7% 0;
  background: rgba(255, 255, 255, 0.7);
}

header p {
  font-size: 2rem;
}

main {
  height: 100vh;
}

.logo {
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 2;
}

#nav-top {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 3% 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.social {
  display: inline-block;
}

#nav-top li {
  padding: 0 1%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 8rem;
}

.container {
  width: 100%;
  text-align: center;
}

.content {
  margin: 0 auto;
  width: 60%;
}

/* Portfolio */
.portfolio-section {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 1;
  order: 1;
}

.portfolio-cover {
  background: rgba(192,192,192,0.3);
  height: 100%;
}

.portfolio-card {
  width: 60%;
  height: 40%;
  background: rgba(192,192,192,0.3);
  background-size: cover;
  border: 2px solid #fff;
  color: #000;
  margin: 0 auto;
  position: relative;
  top: 30%;
}

.portfolio-card:hover,
.portfolio-card:active,
.portfolio-card:focus,
.portfolio-card .active {
  cursor: pointer;
  background: rgba(255,255,255,1);
  background-size: cover;
}

.portfolio-card h2 {
  z-index: 2;
  font-size: 2rem;
  padding: 22% 0;
}

.social {
  width: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
}

.hidden {
  display: none;
}

#contacts p {
  font-weight: 300;
  padding: 0 30px 30px;
}

input[type="text"],
input[type="email"] {
  margin: 1%;
  height: 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
}

textarea {
  width: 100%;
  margin: 1%;
}

button[type="submit"] {
  margin: auto;
}

input,
textarea {
  color: #fff;
  background: #545760;
  border: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #696c73;
  padding-left: 10px;
}

button[type="submit"] {
  background: #5e606c;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 5px 10px;
}

.icons {
  padding: 0 70px;
}

.icons p {
  padding-top: 105px;
}

#about-img {
  height: auto;
  width: 50%;
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
}

#about-text {
  width: 30%;
  height: 45%;
  background: #fff;
  position: absolute;
  right: 10%;
  padding: 30px;
  text-align: justify;
  font-size: 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
}

#about-text p:first-child {
  padding-bottom: 5vmin;
}

#contacts {
  background: #5e606c;
  color: #fff;
  margin: 10vmin 0;
  padding-bottom: 10vmin;
}

#map {
  height: 60vh;
  margin: 1%;
  -webkit-box-flex: 2;
  -ms-flex: 2 auto;
  flex: 2 auto;
}

footer {
  background: #393b42;
  height: 20vh;
}

.status {
  height: 40vh;
}

#message p {
  font-weight: bold;
  padding-top: 15%;
}

.stop-scroll {
  overflow-y: hidden;
}