
input[type="text"],
input[type="email"],
#about-text {
  width: 95%;
}

#portfolio-menu {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#wraper {
  float: right;
  margin-top: 10vmin;
  position: relative;
  z-index: 300;
  width: 50vmin;
  height: 100vh;
  background: #fff;
  border-left: 5px solid #fff;
  margin-right: -45vmin;
  -webkit-transition: margin-right 0.5s ease-out;
  transition: margin-right 0.5s ease-out;
}

#wraper::after {
  content: " ";
  background: #fff;
  width: 20px;
  height: 20px;
  display: block;
  top: -50vh;
  left: -15px;
  position: relative;
  z-index: 300;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#wraper:hover {
  margin-right: -3vmin;
}

.content,
#map,
address,
#about-img {
  width: 100%;
  margin: 0;
}

#about-text {
  position: static;
}

.cover span {
  display: block;
  vertical-align: middle;
  text-align: center;
}

.cover h2 {
  font-size: 2.5em;
  padding-top: 8vh;
}

@media all and (orientation:landscape) {
  .cover span {
    display: inline;
  }
  
  .cover h2 {
    padding: 40vh 10vh;
  }
}