
input[type="text"],
input[type="email"],
#about-text {
  width: 95%;
}

#portfolio-menu {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.content,
#map,
address,
#about-img {
  width: 100%;
  margin: 0;
}

#about-text {
  position: static;
}

.cover span {
  display: block;
  vertical-align: middle;
  text-align: center;
}

.cover h2 {
  font-size: 2.5em;
  padding-top: 8vh;
}

#logo {
  width: 50px;
  float: none;
  padding-left: 20px;
}

#burger-button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  z-index: 300;
  position: relative;
  float: right;
}

#nav-top {
  padding: 0;
  background-color: #fff;
}

#burger-menu {
  
}

#tab-list {
  text-align: center;
  margin-top: 0;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100vw;
}

#tab-list li {
  display: block;
  padding: 10px;
}

@media all and (orientation:landscape) {
  .cover span {
    display: inline;
  }
  
  .cover h2 {
    padding: 40vh 10vh;
  }
}